@model Demo.Project.Demo.Controllers.CreateContactModel
@using Demo.Foundation.ProcessingEngine.Facets;
@using Sitecore.Analytics;
@using Sitecore.Analytics.XConnect.Facets;
@{
    Layout = null;
}

@{
    if (!Tracker.Current.IsActive || Tracker.Current.Contact == null || Tracker.Current.Contact.IsNew)
    {
        <h1>I`m anonymous</h1>
    }
    else
    {
        var xConnectFacets = Tracker.Current.Contact.GetFacet<IXConnectFacets>("XConnectFacets");
        if (xConnectFacets!=null && xConnectFacets.Facets != null && xConnectFacets.Facets.ContainsKey(RfmContactFacet.DefaultFacetKey))
        {
            var facet = xConnectFacets.Facets[RfmContactFacet.DefaultFacetKey] as RfmContactFacet;
            if (facet != null)
            {
                <h1>My RFM is: @facet.R @facet.F @facet.M </h1>
                <h2>My cluster is: @facet.Cluster</h2>
            }
        }
    }
}

@using (Html.BeginForm("IdentifyByEmail", "Demo", FormMethod.Post, new {@class= "form-inline", style= "width:auto;float: left;" }))
{

    <div class="form-group mb-2">
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
  
    <button type="submit" class="btn btn-primary  mb-2" style="margin-left:10px">Identify</button>
}

<br />
@using (Html.BeginForm("EndAll", "Demo", FormMethod.Post, new { @class = "form-inline", style = "margin-top: -25px; padding-left: 10px;" }))
{

    <button class="btn btn-primary" type="submit">End Session</button>
}
